-# TODO: Change all of Price. to @price. and add to controller (so only seeing Tenant's data)

-# http://chartkick.com/ for documentation, the paths are to use AJAX
= line_chart dashboard_three_line_path

= column_chart dashboard_brand_column_path

= line_chart dashboard_scrape_count_path
