table.dashboard td.sku .popup_chart {
    display: none;
    position: absolute;
    left: 50px;
    top: 5px;
    z-index: 1;
    background-color: #e5e5e5;
}
table.dashboard a {
    display: inline-block;
    position: relative;
}
