= form_for(@upload, multipart: true) do |f|
  %input{:name => "user_id", :type => "hidden", :value => current_user} /
  .field
    = f.label :csv_file
    = f.file_field :csv_file
  .actions
    = f.submit 'Upload'
