= form_for(@upload, multipart: true) do |f|
  %input{:name => "upload[user_id]", :type => "hidden", :value => current_user.id}
  .field
    = f.label :csv_file
    = f.file_field :csv_file
  .actions
    = f.submit 'Upload'
